{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
<h1>Administration</h1>
<br>
<button class="btn btn-danger">Admin</button>
<img src="{{asset('assets/images/admin.png')}}" width="200px" alt="admin image" srcset="">
{% endblock %}